{{define "Blog"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Name}}</title>
    {{template "head"}}
</head>
<body onload="initEditPost()">
    <nav class="menu">
        <div class="elem"><a href="/index">МОЙ БЛОГ</a></div>
        <div class="elem"><a href="/find">ПОИСК</a></div>
        <div class="elem"><a href="/create">СОЗДАТЬ ПОСТ</a></div>
        <div class="disable elem"><a href="/edit">РЕДАКТИРОВАТЬ</a></div>
    </nav>
    
    <form class="editForm" onsubmit="editPost()">
        <input class="text" type="text" id="namePost" name="namePost" placeholder="Введите название поста...">
        <textarea class="text" type="textarea" id="post" name="post" placeholder="Введите текст поста..."></textarea>
        <input class="buttonCreate" type="submit" value="Исправить">
    </form>

    <script>
        function initEditPost() {
            document.getElementById("namePost").value = "{{.Find.Name}}"
           document.getElementById("post").value = "{{.Find.Post}}"
        };


        function editPost() {
            alert("Пост исправлен")
            let NewPost = {
                NamePost: document.getElementById("namePost").value,
                TextPost: document.getElementById("post").value,
            };
           
            fetch("/edit/post", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                body: JSON.stringify(NewPost)
            })
        };
    </script>
</body>
</html>
{{end}}

{{define "head"}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />

{{end}}
